
.UploadButton {
    border: 2px dashed #ccc; 
    padding: 20px; 
    text-align: center; 
    cursor: pointer; 
  }
  
  .UploadButton:hover {
    border-color: #aaa; 
  }
  
  .UploadButton-input {
    display: none; 
  }
  